<div class="check-item-container">
    <div class="row">
        <div class="col-lg-2">
            <div class="check-item-checkbox-container">

                <div class="checkbox">
                    {{input type="checkbox" elementId=(concat "cb-" item.id) checked=item.checked}}
                    <label for="cb-{{item.id}}">
                    </label>
                </div>

            </div>
        </div>
        <div class="col-lg-9">

            <div class="check-item">
              <h4>{{item.title}}</h4>
              {{#if (and item.description showDescription)}}
                <p class="description">{{item.description}}</p>
              {{/if}}
              <p class="tags">
                  {{#each item.tags as |tag|}}
                    <span class="tag">{{ tag }}</span>
                  {{/each}}
              </p>
            </div>

        </div>
        {{#if item.description}}
          <div class="col-lg-1">
              <span class="check-item-description-btn" {{action "toggleDescription"}}>&#8964;</span>
          </div>
        {{/if}}

    </div>
</div>
