<div class="check-item-container">
    <div class="row">
        <div class="col-lg-2">
            <div class="check-item-checkbox-container">

                <div class="checkbox">
                    <input type="checkbox" id="cb-{{id}}" name="cb-{{id}}" />
                    <label for="cb-{{id}}"></label>
                </div>

            </div>
        </div>
        <div class="col-lg-9">

            <div class="check-item">
              <h4>{{title}}</h4>
              <p class="description">{{yield}}</p>
              <p class="tags">
                  {{#each tags as |tag|}}
                    <span class="tag">{{ tag }}</span>
                  {{/each}}
              </p>
            </div>

        </div>
        {{#if description}}
        <div class="col-lg-1">
            <span class="check-item-description-btn">&#8964;</span>
        </div>
        {{/if}}

    </div>
</div>
