<hr>

<div class="filters">
    Фильтр:
    <span class="tag">Все</span>
    <span class="tag">Культура</span>
    <span class="tag">Шэринг</span>
    <span class="tag">Автоматизация</span>
    <span class="tag">Тестирование</span>
</div>

<div class="items">

    <div class="strike">
        <span>Alignment</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isAlignment}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Context</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isContext}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Learning</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isLearning}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Lifecycle</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isLifecycle}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Organization</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isOrganization}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}

    <div class="strike">
        <span>Process</span>
    </div>

    {{#each model as |item|}}
        {{#if item.isProcess}}
        {{#check-item id=item.id title=item.title tags=item.tags }}
            {{item.description}}
        {{/check-item}}
        {{/if}}
    {{/each}}


</div>

<div class="score">
    <div class="strike">
        <span>Score</span>
    </div>
    <button type="button" class="btn btn-default btn-lg">Сабмит ит!</button>
</div>

<div class="footer">

    <!-- TODO -->

</div>

<hr>

{{outlet}}
